<div class="card  border-primary mb-3" >
  <div class="card-header text-white bg-primary"> Button</div>
  <div class="card-body text-dark"> 
    <div class="container">
      <form #f="ngForm" >
      <div class="row">
        <div class=" col input-group mb-3">
          <span class="input-group-text" id="basic-addon1">valeur</span>
          <input type="text" class="form-control"  aria-label="okay" name="valeur" aria-describedby="basic-addon1" [(ngModel)]="valeur"/>
        </div>

        <div class="col input-group mb-3">
          <span class="input-group-text" id="basic-addon1">style</span>
          <select name="style" (change)="selectStyle(f.value)" class="form-control" placeholder="okay" aria-label="okay" aria-describedby="basic-addon1" ngModel>
        <option   *ngFor="let style of styles">{{ style }}</option>
          </select>
          </div>
     
          <div class="col input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Glyphicons</span>
            <select  name="Gly" class="form-control" (change)="selectGly(f.value)" aria-label="okay" aria-describedby="basic-addon1" ngModel>
          <option  *ngFor="let Glyphicon of glyphicons">{{ Glyphicon }}</option>
          
            </select>
            </div>
            <div class="col input-group mb-3">
          
              <input type="checkbox" (change)="eventCheck($event.target)"name="active" id="active"/><label for="active">Active</label>
              <input type="checkbox"(change)="eventCheck($event.target)" name="disabled" id="dis"/><label for="dis">Disabled</label>
              
            </div>
              <div class="col input-group mb-3">
                <button class="btn btn-primary" type="button" id="button-addon1">Button</button>
                <input type="number" class="form-control"name="" id=""/>
                <span class="input-group-text" id="basic-addon1">button(s)</span>
              </div>
              </div>  
              </form>
      </div>
     <div class="row">
       <span class="border">
         <label id="bu">Button témoin :</label>
         <button   class="{{ style }} {{ etat   }}"> <i [ngClass]="Gly"></i>{{  valeur}}</button>
       </span>

     </div>
      
      </div>
      <div class="card    mb-3" >
        <div class="card-header text-dark"> Collection de boutons</div>
        <div class="card-body text-dark">
          
        </div>
        <div class="card-footer text-dark"> éléments</div>
      </div>
    </div>
      