.border-primary{
    margin-top: 50px;
    margin-left:200px;
    margin-right:200px;
   
}
span.border{margin-bottom: 5px;;
 height: 80px;;
 border-radius: 5px;;
 display: flex;

align-items: center; /* align vertical */


}
#bu{
    font-weight: bold;
    text-align: center;vertical-align: middle;
    
}